.button,
.button:hover {
  display: flex;
  width: 192px;
  height: 26px;
  align-items: center;
  justify-content: center;
  border: none;

  text-transform: uppercase;
  color: @basic_white;

  background-color: @basic_green;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;

  font-family: "Oswald", "Arial", sans-serif;
  position: static;
}
