.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: @text-color-black;
}

.example__wrapper {
  background-color: @special_grey-4;
}

.example__text,
.example__info-text {
  font-family: "Arial", sans-serif;
  text-align: center;
  color: @special_dark-grey;
}

.example__info,
.example__info-text-2 {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @text-color-black;
}

.example__list-data .example__list-data-point {
  list-style-type: none;
}

.example__picture__toggles.before,
.example__picture__toggles.after {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @text-color-black;
  background-color: @special_grey-4;
  border: none;
}
