.contacts__title {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: @text-color-black;
}

.contacts__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  color: @special_dark-grey;
}

.location__wrapper {
  background: @special_grey-4;
}

.location__wrapper.location-index {
  background: @basic_white;
}
