.page__body {
  display: grid;
  gap: 10px;
  grid-template-columns: 320px;
  grid-template-rows: auto;
  padding-left: 10px;
}

.slogan__title {
  font-family: "Oswald", "Arial", sans-serif;
  position: absolute;
  width: 320px;
  top: 142px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  color: @basic_white;
}

.slogan__intro {
  font-family: "Oswald", "Arial", sans-serif;
  position: absolute;
  width: 198px;
  height: 14px;
  // left: 60px;
  top: 270px;

  font-size: 14px;
  line-height: 14px;

  display: flex;
  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
}

.main-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  color: @text-color-black;
}

.main-nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
}

.site-list__item a,
.site-list__item--active {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: @text-color-black;
}

.main-nav__list.site-list li {
  list-style-type: none;
}

fieldset {
  border: 0 none;
}

.fields {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: @special_dark-grey;
}

.fields.questionnaire__title,
.fields.contacts {
  font-size: 14px;
  color: @text-color-black;
}

.fields.vars {
  color: @special_dark-grey-2;
}

.fields.additional-products {
  color: @text-color-black;
}

.fields-title {
  font-size: 24px;
  text-transform: none;
  color: @text-color-black;
}

.fields.text {
  font-family: "Arial", sans-serif;
  text-transform: none;
  font-size: 14px;
  color: @text-color-black;
}
