
.slogan {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
}

.slogan.slogan__wrapper {
  width: 100%;
  height: 302px;
  background-color: @basic_green;
  background-image: url("../img/cat-background-index.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan.slogan__title {
  top: 1420px;
  padding-top: 27px;
  text-align: center;
  font-size: 36px;
  line-height: 100%;
  color: @basic_white;
}

.slogan.slogan__intro {
  width: 100%;
  font-size: 14px;
  line-height: 100%;

  text-align: center;
  text-transform: uppercase;
  color: @basic_white;
}

.slogan.background-image-basket {
  width: 100%;
  height: 270px;
  margin-top: 29px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/basket.png");
}
